# Firebase Admin SDK (Service Account)
FIREBASE_PROJECT_ID=travelio-29221
FIREBASE_CLIENT_EMAIL=YOUR_FIREBASE_SERVICE_ACCOUNT_CLIENT_EMAIL
FIREBASE_PRIVATE_KEY="YOUR_FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY"

# Cloudinary
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=763569853232443
CLOUDINARY_API_SECRET=6MNGty4e5rxtEQQv2aK4I20KC0E

# Email (Google Script)
GMAIL_SCRIPT=YOUR_GMAIL_SCRIPT_URL_FOR_SENDING_EMAILS