DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DATABASE=YOUR_DATABASE_NAME
GMAIL_SCRIPT=YOUR_GMAIL_SCRIPT_URL_FOR_SENDING_EMAILS_WE_USED_GOOGLE_SCRIPT_FOR_SENDING_EMAILS_INSTEAD_OF_NODEMAILER_BECAUSE_OF_SOME_ISSUES_WITH_NODEMAILER_IN_PRODUCTION_ENVIRONMENT